﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="Answers.aspx.cs" Inherits="Forum.Answers" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
    <br />
    <asp:TextBox ID="TextBox1" runat="server" Rows="16" TextMode="MultiLine" 
        Visible="False" Width="600px"></asp:TextBox><br />
    <asp:Button ID="Submit" runat="server" Text="Submit" Visible="False" 
        onclick="Submit_Click" />
</asp:Content>
