﻿#header
{
    width: inherit;
    margin: 0px;
    padding: 0px;
}

#login
{
    height: 20px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background-color: DimGray;
    color: white;
}

#login a
{
    color: white;
    margin-left: 30px;
    font-weight: bold;
}

#main
{
    width: 100%;
    padding: 0px;
    margin: auto;
}

#page
{
    width: inherit;
    margin: 0px;
    padding: 0px;
    background-color: white;
    text-align: left;
    float: left;
    min-height: 600px;
}

#content2
{
    text-align:left;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

literal
{
    margin: 0px;
    padding: 0px;
}

#footer
{
    text-align: center;
}

#levakolona
{
    width: 20%;
}

#desnakolona
{
    width: 20%;
}

#centerkolona
{
    width: 60%;
}

#maintable
{
    width: 100%;
}

#content
{
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

textarea
{
    resize: none;
}

a
{
    text-decoration: none;
}

a.login
{
    padding-right: 60px;
}
.failureNotification
{
    color: Red;
}
